body {
    background-color: hsl(60, 7%, 62%) /*hsl(335, 10%, 10%)*/;
    color: lightgray;
}

main > p {
    color: black;
}

h1, h2, h3 {
    font-family: sans-serif;
}

video {
    max-width: 100%;
    border-radius: 13px;
    display: block;
    margin: auto;
}

nav ul {
    list-style: none;
}

article {
    min-height: 1in;
}

article:nth-child(even) {
    background-color: hsl(208, 15%, 25%);
}

article:nth-child(odd) {
    background-color: hsl(177, 15%, 25%);
}

article p:last-child {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    padding-top: 1em;
}

section {
    background-color: white;
    color: black;
    display: inline-block;
    height: 3in;
    width: 3in;
    margin: 1em;
    border-radius: 13px;
    vertical-align: top;
    position: relative;
}

section:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 2em;
    right: 0;
    bottom: 0.25em;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
}

#ml-cxx:before {
    background-image: url("ISO_C++_Logo.svg");
    background-size: contain;
    background-position: center;
}

#ml-python:before {
    background-image: url("Python.svg");
}

#parsing-ruby-calc:before {
    background-image: url("ruby-logo.svg");
}

#parsing-rust-calc:before {
    background-image: url("rust-logo.svg");
}

section h3 {
    background-color: hsl(296, 13%, 25%);
    color: white;
    margin-top: 0;
    padding: 0.25em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
}

section p {
    padding: 0.25em;
    position: relative;
    top: 2em;
}

section a {
    color: hsl(200, 50%, 30%);
    font-weight: bold;
}