ol.code li {
    font-family: monospace;
    font-size: 0.8em;
    list-style-position: outside;
}

ol.code li.new-line {
    background-color: #e8e8ff;
}

ol.code li.indent-one {
    padding-left: 2em;
}

ol.code li.indent-two {
    padding-left: 4em;
}

ol.code li.indent-three {
    padding-left: 6em;
}

ol.code li.indent-four {
    padding-left: 8em;
}

.code .preprocessor {
    color: green;
}

.code .keyword {
    color: purple;
    font-weight: bold;
}

.code .string {
    color: blue;
}

.code .function {
    font-weight: bold;
}

.code .comment {
    color: gray;
}

span.code {
    font-family: monospace;
    /*font-style: italic;*/
    font-size: 0.8em;
}

.code .commandline {
    font-weight: bold;
}